{% extends '_layouts/three-col.twig' %}

{% block hero_title %}General content page no hero{% endblock %}
{% block hero_text %}Subheading for general content page no hero{% endblock %}

{% block side_column_1 %}
<div>
    <h3>Side Column 1 Custom Title</h3>
    <p>Custom content for side column 1.</p>
</div>
{% endblock %}

{% block main_column %}
<div>
    <h2>Main Column Custom Title</h2>
    <p>This is the custom content for the main, central column. It's designed to hold the primary content of the page.</p>
</div>
{% endblock %}

{% block side_column_2 %}
<div>
    <h3>Side Column 2 Custom Title</h3>
    <p>Custom content for side column 2.</p>
</div>
{% endblock %}