<div class="hero-image bg-cover bg-center py-32" style="background-image: url('{{ hero_image }}');">
    <div class="text-center text-white">
        <h1 class="text-5xl font-bold">{{ hero_title }}</h1>
        <p class="text-xl">{{ hero_text }}</p>
    </div>
</div>
