<div class="hero-image bg-cover bg-center py-32" style="background-image: url('{{ image }}');">
    <div class="text-center text-white">
        <h1 class="text-5xl font-bold">
           {{ title }}
        </h1>
        <p class="text-xl">
            {{ text }}
        </p>
    </div>
</div>