<div class="flex items-center justify-between bg-red-100">
    <div class="text-left text-black px-4">
        <h1 class="text-5xl font-bold">{{ hero_title }}</h1>
        <p class="text-xl">{{ hero_text }}</p>
    </div>
    <div class="w-1/2">
        <img src="{{ hero_image }}" alt="Hero Image" class="w-full h-auto">
    </div>
</div>
